
<div class="row" >
        <% 
        i=0;
        if(typeof produtoslist !== 'undefined')
        produtoslist.forEach(function(produto){ 
            i=i+1;
            %>
            <%if(i>3){
                i=0;
                %>
                </div>
                <div class="row" >                
            <%}%>    

            <div class="ccol-xs-12 col-sm-4 col-md-4 col-lg-4 text-center" style="padding: 22px 48px 22px 48px; border: solid 5px white;background-image: url('/images/bgProduto.png');background-position: bottom;background-repeat: repeat-x;min-height: 400px" >
                    <a href='/produto/<%= produto._id%>'><img src="/images/products/<%= produto.id_imagem %>L.jpg" style="max-height: 170px"></a>
                <h4><a href='/produto/<%= produto._id%>'><%= produto.nome.toUpperCase() %></a></h4>
                <p>
                    <span title="<%= produto.descricao %>"><%= produto.descricao.substring(0,55) %><%= produto.descricao.length>55?'...':'' %></span>
                </p>
                <p class="text-left preco_venda">
                    R$ <%= produto.valor.toFixed(2);%>
                </p>
            </div>
        <%})%>    
        


</div>
<div class="row">


    <div class="col-md-12">
        <ul>
            <% 
            if(typeof userlist !== 'undefined')
            userlist.forEach(function(user){ %>
                <li>E-mail:
                    <%= user.email %> - Perfil:
                        <%= user.perfil %>
                </li>
                <%})%>
        </ul>
    </div>
</div>


