<!DOCTYPE html>
<html lang="en">
<% include header %>

  <body>
    <% include navbar %>

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron" style="background-color: turquoise;padding-top:74px;padding-bottom: 10px">
        <div class="container">
          <div class="row">
              <div class="col-md-3"></div>
            <div class="col-md-6 text-center">
              <img src="/images/logo.png" />
              <h6 style="color:darkslategrey">Agrocamp - A sua loja de produtos agropecuários 24 horas todos os dias.</h6>
            </div>
            <div class="col-md-3"></div>
            </div>

          </div>
        </div>
      </div>

      <div class="container" style="padding-top: 20px">
        <% include indexcontent %>
          <hr>
          <% include footer %>
      </div>
      <!-- /container -->

  </body>

</html>