<form method="POST" action="#">
    <div class="text-center">
            <h3>Insira suas informações de acesso</h3>
    </div>
    
    <div class="row" style="padding: 10px" >
        <div class="col-md-4"></div>
        <div class="col-md-1">Email:</div>
        <div class="col-md-3">
            <input type="text" class="form-control input-sm" name="email" />
        </div>
    </div>
    <div class="row" style="padding: 10px">
        <div class="col-md-4"></div>
        <div class="col-md-1">Senha:</div>
        <div class="col-md-3">
            <input type="text" class="form-control input-sm" name="password" />
        </div>
    </div>

    <div class="row" style="padding: 10px">
        <div class="col-md-4"></div>

        <div class="col-md-4 text-center">
            <input type="button" id="loginbtn" class="form-control input-sm" value="Enviar" /><br>
            
            <% if(typeof message !== 'undefined'){ %>
                <span class="alert-danger" style="padding: 3px"><%= message %></span>
                <%}%>            
    
        </div>

    </div>
</form>


<script type="text/javascript">

    $(document).ready(function () {

        $('#loginbtn').click(function () {
            alert(this);
            $.ajax({
                type: "POST",
                url: "/login",
                data: {
                    email: "total",
                    password: "total"
                },
                success: function (data) {
                    localStorage.token = data.token;
                    alert('Got a token from the server! Token: ' + data.token);
                },
                error: function () {
                    alert("Login Failed");
                }
            });
        });
        $('#badLogin').click(function () {
            $.ajax({
                type: "POST",
                url: "/login",
                data: {
                    username: "john.doe",
                    password: "foobarfoobar"
                },
                success: function (data) {
                    alert("ERROR: it is not supposed to alert.");
                },
                error: function () {
                    alert("Login Failed");
                }
            });
        });
        $('#logout').click(function () {
            localStorage.clear();
        });
    });
</script>