

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img src="/images/logoL.png" style="float: left;padding-top: 8px; padding-right: 8px;padding-left: 16px"/><a class="navbar-brand" href="/" style="color:#fecd00">Agrocamp</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <!--li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li-->
        
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nossos Produtos <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li id="home"><a href="/">Adubos</a></li>
                <li id="about"><a href="/about">Fertilizantes</a></li>
                <li id="about"><a href="/about">Defensivos</a></li>
                <li id="about"><a href="/about">Maquinas Agrícolas</a></li>  
                <li role="separator" class="divider"></li>
                <li><a href="#">Linha Pet</a></li>
                <li role="separator" class="divider"></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-right">
          <div class="form-group">
            <input type="text" class="form-control input-sm" placeholder="Estou procurando...." style="background-color: #fde88ef7;">
          </div>
          <button type="submit" class="btn btn-default input-sm">Procurar</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/login" style="font-size: 12px">Login de Usuário</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


<!--div class="navbar navbar-inverse navbar-fixed-top">
    
    <div class="container">
        <div class="navbar-header">
            <img src="images/logoL.png" style="float: left;padding-top: 8px; padding-right: 8px;padding-left: 16px"/><a class="navbar-brand" href="/" style="color:#fecd00"> Agrocamp</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-collapse">
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li id="home"><a href="/">Adubos</a></li>
                <li id="about"><a href="/about">Fertilizantes</a></li>
                <li id="about"><a href="/about">Defensivos</a></li>
                <li id="about"><a href="/about">Maquinas Agrícolas</a></li>
                
                <li id="about"><span class="glyphicon glyphicon-search"><a href="/about">Área do Cliente</a></span></li>
            </ul>
        </div>
        <!--/.navbar-collapse >
    </div>
</div-->