<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
<form method="POST" action="/adduser">
Email: <input  type="text" name="email" /> <br/>
Senha: <input type="text" name="password"/><br/>
Perfil: <input type="text" name="perfil"/><br/>
<input type="submit" value="Enviar"/>
</form>

  </body>
</html>
