<!-- Example row of columns -->


<div class="row">
        <% 
        if(typeof produto !== 'undefined')
        {%>        
            <div class="ccol-xs-12 col-sm-5 col-md-5 col-lg-5 text-center" style="padding: 18px;border: solid 5px white;">
                <img src="/images/products/<%= produto.id_imagem %>.jpg" style="max-height: 350px">
            </div>
            <div class="ccol-xs-12 col-sm-5 col-md-5 col-lg-5 text-center" style="padding: 18px;background-color: #fdfafa;border: solid 5px white;">
                <h4><a href='/produto/<%= produto._id%>'><%= produto.nome.toUpperCase() %></a></h4>
                <p>
                    <span title=""><%= produto.descricao %></span>
                </p>
                <p class="text-right preco_venda destaque">
                    R$ <%= produto.valor.toFixed(2);%>
                </p>
                <div class="text-cent calcular_frete" id="divResultFrete">
                </div>
                <div class="text-cent calcular_frete" id="divCalcFrete">
                        CEP: <input type="text" id="cep">
                        <a class="btn btn-default" href="javascript:void(0)" role="button" id="calculoFrete">Calcular Frete</a>
                </div>

                </p>
                <p class="text-center">
                    <a class="btn btn-default" href="javascript:void(0)" role="button">Comprar</a>
                </p>
            </div>
        <%}%>    
</div>
<div class="row">

</div>


<script>
        $("#divResultFrete").hide();
        
        $("#calculoFrete").click(function(){
            $("#calculoFrete").attr("disabled","disabled");
            $("#calculoFrete").text("Aguarde...");

            $.ajax({url: "/produto/frete/"+$("#cep")[0].value, success: function(result){
                $("#calculoFrete").removeAttr("disabled");
                $("#calculoFrete").text("Calcular Frete");

                console.log(result);
                console.log(result.Mensagem != "");
                
                $("#divResultFrete").show();
                if(result.Mensagem == "")
                    $("#divResultFrete").html("<h5>Valor: " + result.Valor + ". Prazo de Entrega: " + result.prazo + ' dias. <a href="#" onclick=\'$("#divResultFrete").hide();$("#divCalcFrete").show();\'>Voltar</span>' + "</h5>");
                else
                    $("#divResultFrete").html("<h6>" + result.Mensagem + ". " + '<a href="#" onclick=\'$("#divResultFrete").hide();$("#divCalcFrete").show();\'>Voltar</span>' + '</h6>') ;
                $("#divCalcFrete").hide();

                
            }});
        });
            
</script>


