<!DOCTYPE html>
<html lang="en">
<% include header %>

  <body>
    <% include navbar %>

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron" style="background-color: turquoise;padding-top:74px;padding-bottom: 10px">
        <div class="container">
          <div class="row">
              <div class="col-md-12 text-right">
              <h6 style="color:darkslategrey">Detalhe Produto | <a href='/'>Home</a></h6>
            </div>
            </div>

          </div>
        </div>
      </div>

      <div class="container" style="padding-top: 20px">
        <% include produtocontent %>
          <hr>
          <% include footer %>
      </div>
      <!-- /container -->

  </body>

</html>