<!DOCTYPE html>
<html lang="en">
    <head></head>
    <body>
        <h1 class="text-center title-1"> Lista de Usuários</h1>
        <ul>
            <% userlist.forEach(function(user){ %>
                <li>E-mail: <%= user.email %> - Perfil: <%= user.perfil %></li>
            <%})%>
        </ul>
    </body>
</html>