/*body {
  padding: 50px;*/
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}*/

a {
  /*color: #fecd00;*/
}
.preco_venda{
  font-size: 24px;
  color: #333;
  font-weight: bold;
  line-height: inherit;
  text-align: right;
}
.destaque{
  font-size: 38px;
  color: rgb(254, 106, 0);
}


.calcular_frete{
  background-color: #fecd00;
  padding: 12px;
}